.modify-recipe {
  width: calc(100% - 25%);
  position: static;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: visible;
}

.loading.modify {
  margin-top: 4em;
  margin-left: 25%;
}

.modify-recipe h1 {
  width: 100%;
  text-align: center;
  color: #da6837;
  font-size: 4em;
  font-family: Bright;
}

.modify-recipe form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1em;
}

.modify-recipe form label {
  color: #2b718e;
  font-size: 2em;
  font-family: Bright;
}

.modify-recipe .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modify-recipe input.input-title {
  width: 40%;
  height: 2em;
  background-color: #f8ce90;
  border-radius: 0.25em;
}
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

.modify-recipe select {
  margin-left: 1em;
  height: 2em;
  outline: none;
  min-width: fit-content;
  width: 10%;
  background-color: #ffecd0;
}
.modify-recipe select:focus {
  outline: 2px solid pink;
}

.modify-recipe ul {
  list-style-type: none;
  margin: 0;
}

.modify-recipe textarea,
.modify-recipe li,
.modify-recipe input.input-title {
  outline: none;
  border: none;
  border-bottom: 1px solid #da6837;
  margin-top: 0.5em;
  resize: none;
  font-family: Montserrat;
  font-size: 0.9em;
  padding: 0.2em;
  overflow: auto;
  white-space: pre-line;
}

.modify-recipe li {
  position: relative;
  overflow: visible;
  border: none;
}

.modify-recipe li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -16px;
  width: 5px;
  height: 1px;
  background-color: black;
}

.modify-recipe li > span {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  left: -40px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.modify-recipe .add-ingredient {
  margin-top: 2em;
  display: flex;
  align-content: center;
  gap: 2em;
}

.modify-recipe input.input-ingredient {
  border: none;
  outline: none;
  border-bottom: 1px solid #da6837;
  height: 2em;
  width: 60%;
  align-self: center;
  margin: 0;
  font-family: Montserrat;
  font-size: 0.9em;
  background-color: #f8ce90;
  border-radius: 0.25em;
}

.modify-recipe .input-container textarea {
  background-color: #f8ce90;
  border-radius: 0.25em;
  padding-right: 0.5em;
}

.modify-recipe .add-ingredient button {
  align-self: center;
  height: 2.25em;
  background-color: #ffecd0;
  border: 1px solid #5b362b;
  border-radius: 0.25em;
}

.modify-recipe .input-process {
  width: 100%;
  text-align: justify;
  border: 1px solid #da6837;
}

.modify-recipe .add-button {
  width: 10em;
  max-width: 80%;
  min-height: 2em;
  align-self: center;
  border: 1px solid grey;
  background-color: #ffecd0;
  border-radius: 0.5em;
}

.modify-recipe .add-button.image-btn {
  align-self: start;
  margin-top: 10px;
  background: #fff;
}

.close-modal {
  position: absolute;
  top: 0.65em;
  right: 1em;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .modify-recipe {
    padding: 0;
  }

  .modify-recipe form {
    padding: 0 2em;
    width: 100%;
  }

  .modify-recipe .add-ingredient button {
    height: 3em;
  }

  .modify-recipe input.input-ingredient,
  .modify-recipe input.input-title {
    width: 100%;
    font-size: 1em;
  }

  .modify-recipe select {
    width: 7em;
  }
}

@media screen and (max-width: 1080px) {
  .modify-recipe {
    width: 100%;
  }

  .modify-recipe h1 {
    font-size: 3em;
  }
}
