.categories-container {
  position: fixed;
  top: 5em;
  left: 0;
  background-color: rgb(241, 241, 241);
  width: 25%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.categories-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.category a {
  width: 100%;
  height: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.category:hover {
  background-color: rgb(192, 192, 192);
}

@media screen and (max-width: 1200px) {
  .categories-container {
    top: 12em;
    border-right: 1px solid grey;
  }
}
