.add-btn {
  width: 10em;
  height: 3em;
  background-color: #da6837;
  border: 1px solid black;
  border-radius: 0.25em;
  font-family: Montserrat;
  font-weight: 500;
  cursor: pointer;
}
.add-btn:hover,
.add-btn:hover {
  background-color: #ffecd0;
}
