.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

.card {
  width: 15em;
  max-width: 15em;
  height: 15em;
  border: 1px solid #da6837;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: #ffecd0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  color: #5b362b;
  -webkit-text-stroke: 0.001em #e5c2c2;
  text-decoration: none;
}

.card h1.card-title {
  user-select: none;
  font-size: 1.75em;
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: 80%;
  }

  .card h1.card-title {
    font-size: 1.2em;
  }
}
