.header {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 5em;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.header a {
  text-decoration: none;
}

form.search-form {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 20em;
  height: 2.75em;
  outline: none;
  border-radius: 0;
  border: 1px solid rgb(48, 48, 48);
  padding-left: 1.5em;
  border-radius: 3em;
  font-family: 'Montserrat';
  background-color: #ffecd0;
  color: #5b362b;
}
.search-bar:focus {
  border-color: #da6837;
}
.search-bar:focus + .search-btn {
  border-color: #da6837;
}

.search-btn {
  position: absolute;
  right: 0.5em;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3em;
  background-color: #da6837;
  cursor: pointer;
}
.search-btn.disabled {
  pointer-events: none;
}
.search-btn .btn-anchor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
}
.search-btn svg {
  width: 1.25em;
  height: 1.25em;
}

.categories-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  gap: 1em;
}
.categories-list a {
  color: #5b362b;
  font-size: 1.5em;
  text-decoration: none;
}
.categories-list .active a {
  border-bottom: 2px solid #5b362b;
  border-radius: 2px;
}

.add-btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 3em;
}

@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 10em;
    border-bottom: 1px solid grey;
    padding-top: 1em;
  }
  .categories-list {
    margin-bottom: 2em;
  }
  .header .search-form {
    position: static;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    height: 15em;
  }
  .header .search-bar {
    width: 30em;
  }
  .header .add-btn {
    position: static;
  }
}

@media screen and (max-width: 500px) {
  .header .search-bar {
    width: 100%;
  }
}
